{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer-slogan.css' | asset_url | stylesheet_tag }}

{%- style -%}
{%- endstyle -%}

<div class="banner__content page-width footer-slogan__text-container">
  <h2 class="banner__heading inline-richtext h0 footer-slogan__text">Frati.</h2>
  <h2 class="banner__heading inline-richtext h0 footer-slogan__text">Ricca semplicità.</h2>
</div>
