.image_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-top: 6rem;
  margin-bottom: 4rem;
}

.image_container img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 834px) and (max-width: 1197px) {
  .image_container {
    height: 35rem;
  }

  .image_container svg {
    height: 100%;
  }
}

@media screen and (min-width: 749px) {
  .image_container {
    flex-direction: row;
  }
}
