.footer-slogan {
  position: relative;
}

.footer-slogan__heading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.footer-slogan__heading {
  margin: 0;
  text-align: center;
  line-height: 1;

}

.footer-slogan__image_container {
  position: relative;
  height: 60rem;
}

.footer-slogan__image {
  position: absolute;

}

.image-1 {
  top: -5%;
  left: 10%;
}

.image-2 {
  top: 40%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.image-3 {
  bottom: 0;
  left: 0;

}

.image-4 {
  top: -5%;
  right: 12%;

}

.image-5 {
  right: -10%;

  top: 40%;

  transform: translate(-50%, -50%);

}

.image-6 {
  bottom: 0;
  right: 0;
}